<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comment</key>
	<string>Modified from the original ASP bundle. Originally modified by Thomas Aylott subtleGradient.com</string>
	<key>fileTypes</key>
	<array>
		<string>prg</string>
	</array>
	<key>keyEquivalent</key>
	<string>^~A</string>
	<key>name</key>
	<string>FoxPro</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>\n</string>
			<key>name</key>
			<string>meta.ending-space</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#round-brackets</string>
		</dict>
<!-- 		<dict>
			<key>begin</key>
			<string>^(?=\t)</string>
			<key>end</key>
			<string>(?=[^\t])</string>
			<key>name</key>
			<string>meta.leading-space</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>meta.odd-tab.tabs</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>meta.even-tab.tabs</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\t)(\t)?</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>^(?= )</string>
			<key>end</key>
			<string>(?=[^ ])</string>
			<key>name</key>
			<string>meta.leading-space</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>meta.odd-tab.spaces</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>meta.even-tab.spaces</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(  )(  )?</string>
				</dict>
			</array>
		</dict> -->
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>storage.type.function.foxpro</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.foxpro</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.parameters.foxpro</string>
				</dict>
				<key>4</key>
				<dict>
					<key>name</key>
					<string>variable.parameter.function.foxpro</string>
				</dict>
				<key>5</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.parameters.foxpro</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^\s*((?i:function|sub|func|procedure|proc))\s*([a-zA-Z_]\w*)\s*(\()([^)]*)(\)).*\n?</string>
			<key>name</key>
			<string>meta.function.foxpro</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>^(\s*)(?=\*)</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.whitespace.comment.leading.foxpro</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(?!\G)</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>\*</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.comment.foxpro</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\n</string>
					<key>name</key>
					<string>comment.line.apostrophe.foxpro</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(^[ \t]+)?(?=&&)</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.whitespace.comment.leading.foxpro</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(?!\G)</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>&&</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.comment.foxpro</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\n</string>
					<key>name</key>
					<string>comment.line.apostrophe.foxpro</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\b(If|Else|EndIf|Do|While|EndDo|For|To|Each|Case|Return|Continue|Loop|Next|With|EndWith|Exit|IIf|Try|Catch|EndTry|Endfor)\b)</string>
			<key>name</key>
			<string>keyword.control.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\b(_tally|abs|acla|aclass|acop|acopy|acos|acti|activate|adat|adatabases|adbo|adbobjects|add|addb|addbs|additive|addp|addproperty|adel|adir|adll|adlls|adoc|adockstate|aele|aelement|aerr|aerror|
							aeve|aevents|afie|afields|afon|afont|after|agetc|agetclass|agetf|agetfileversion|ains|ainst|ainstance|alan|alanguage|alen|alia|alias|alias|alin|alines|all|allt|alltrim|alt|alte|alter|
							alternate|amem|amembers|american|amou|amouseobj|and|anet|anetresources|ansi|app|appe|append|apri|aprinters|apro|aprocinfo|arepltip|array|as|asc|asc|asca|ascan|ascending|asel|aselobj|
							ases|asessions|asin|asor|asort|asql|asqlhandles|asse|assert|asserts|asta|astackinfo|asub|asubscript|at|at|at_c|atag|ataginfo|atan|atc|atcc|atcl|atcline|atli|atline|ause|aused|auto|
							autoinc|autoincerror|automatic|autosave|avcx|avcxclasses|aver|average|avg|awidth|bar|bar|before|begi|begin|bell|betw|between|binary|bind|bindevent|bint|bintoc|bita|bitand|bitc|bitclear|
							bitl|bitlshift|bitn|bitnot|bito|bitor|bitr|bitrshift|bits|bitset|bitt|bittest|bitx|bitxor|blan|blank|blocksize|bof|bottom|british|brow|browse|browseime|buil|build|by|calc|calculate|
							canc|cancel|cand|candidate|candidate|caps|capslock|carry|case|cast|catc|catch|cd|cdow|cdx|cdx|ceil|ceiling|center|century|cga|chan|change|character|chdi|chdir|check|chr|chrs|chrsaw|chrt|
							chrtran|chrtranc|class|class|classlib|clea|clear|clearr|clearresultset|click|clock|clos|close|cmon|cmonth|cnt|cntb|cntbar|cntp|cntpad|codepage|collate|collection|color|column|coma|comarray|
							comc|comclassinfo|command|comp|comp|compact|compatible|compile|compobj|comprop|comr|comreturnerror|confirm|connection|connections|connstring|console|cont|continue|control|copy|cos|coun|count|
							count|coverage|cpco|cpcompile|cpconvert|cpcu|cpcurrent|cpdb|cpdbf|cpdialog|crea|create|create|createb|createbinary|createobject|createobjectex|createof|createoffline|csv|ctob|ctobin|ctod|ctot|
							curd|curdir|currency|cursor|cursorg|cursorgetprop|cursors|cursorsetprop|cursortox|cursortoxml|curv|curval|data|database|databases|datasession|datasource|date|date|datet|datetime|day|dbal|dbalias|
							dbc|dbf|dbf|dbge|dbgetprop|dblclick|dbse|dbsetprop|dbus|dbused|ddeab|ddeaborttrans|ddead|ddeadvise|ddeen|ddeenabled|ddeex|ddeexecute|ddei|ddeinitiate|ddel|ddelasterror|ddep|ddepoke|dder|
							dderequest|ddes|ddesetoption|ddesets|ddesetservice|ddesett|ddesettopic|ddet|ddeterminate|deac|deactivate|debu|debug|debugo|debugout|decimals|decl|declare|defa|default|defaultext|defi|define|
							dele|dele|delete|deleted|deleted|deletetables|delimited|delimiters|desc|desc|descending|descending|development|device|dif|diff|difference|dime|dimension|dir|dire|directory|directory|disk|
							diskspace|disp|disp|display|displaypath|distinct|dll|dlls|dmy|dmy|do|dock|dode|dodefault|doev|doevents|dohistory|dos|dotip|double|dow|drag|driv|drivetype|drop|drop|dropoffline|dtoc|
							dtor|dtos|dtot|each|echo|edit|edit|editsource|ejec|eject|else|empt|empty|encrypt|end|endc|endcase|endde|enddefine|enddo|endfo|endfor|endfu|endfunc|endi|endif|endp|endpri|endprintjob|endproc|
							ends|endscan|endt|endtext|endtr|endtry|endw|endwith|enginebehavior|environment|eof|eras|erase|erro|erro|error|error|escape|eval|evaluate|event|eventhandler|eventlist|eventtracking|evl|exact|
							except|exclude|exclusive|exe|exec|execscript|exit|exp|expo|export|exte|extended|external|fchs|fchsize|fclo|fclose|fcou|fcount|fcre|fcreate|fdat|fdate|fdow|feof|ferr|ferror|fflu|
							fflush|fget|fgets|fiel|field|field|fields|file|file|files|filet|filetostr|fill|filt|filter|filter|fina|finally|fixed|fkla|fklabel|fkma|fkmax|flags|float|floc|flock|floo|floor|
							flus|flush|font|font|fontmetric|footer|fope|fopen|forc|force|forceext|forcep|forcepath|foreign|form|format|foun|found|foxplus|fput|fputs|frea|fread|free|freeze|french|from|
							fsee|fseek|fsiz|fsize|ftim|ftime|full|full|fullpath|fullpath|func|func|function|fv|fweek|fwri|fwrite|gath|gather|general|geta|getautoincvalue|getb|getbar|getc|getcolor|getcp|
							getcu|getcursoradapter|getd|getdir|gete|gete|getenv|getexpr|getf|getfile|getfl|getfldstate|getfo|getfont|geth|gethost|geti|getinterface|getn|getnextmodified|geto|getobject|getp|getpa|
							getpad|getpem|getpi|getpict|getpr|getprinter|getr|getresultset|getwordc|getwordcount|getwordn|getwordnum|go|gomo|gomonth|goto|group|grow|halfheight|having|head|header|heading|headings|
							help|helpfilter|hidd|hidden|hide|home|hour|hours|icas|icase|icon|id|idxc|idxcollate|if|iif|imes|imestatus|impl|implements|impo|import|in|include|indb|indbc|inde|inde|index|
							indexes|indexseek|inke|inkey|inli|inlist|inner|inpu|inputbox|inse|insert|insm|insmode|int|into|isal|isalpha|isbl|isblank|isco|iscolor|isdi|isdigit|isex|isexclusive|isfl|isflocked|
							isho|ishosted|isle|isleadbyte|islo|islower|isme|ismemofetched|ismo|ismouse|isnu|isnull|ispe|ispen|isre|isreadonly|isrl|isrlocked|istr|istransactable|isup|isupper|italian|japan|join|
							justd|justdrive|juste|justext|justf|justfname|justp|justpath|justs|juststem|key|key|keyb|keyboard|keycomp|keym|keymatch|labe|label|last|last|lastkey|ledit|left|left|leftc|len|
							lenc|library|like|like|likec|line|line|lineno|link|list|load|loadpicture|loca|local|locate|locf|locfile|lock|lock|log|log1|log10|logerrors|long|look|lookup|loop|lowe|lower|
							lpar|lparameters|lpartition|ltri|ltrim|ltrjustify|lupd|lupdate|macdesktop|mackey|macro|macros|make|maketransactable|margin|mark|master|max|max|mcol|md|mdi|mdow|mdown|mdx|mdy|
							mdy|meml|memlines|memo|memo|memory|memory|memowidth|memvar|menu|menu|menus|mess|message|message|messageb|messagebox|messagebox|method|middle|min|min|minimize|minu|minute|mkdi|
							mkdir|mlin|mline|mod|mod|modi|modify|mont|month|mous|mouse|move|mover|mrkb|mrkbar|mrkp|mrkpad|mrow|mru|msgb|mtdll|mton|multilocks|multiselect|mwin|mwindow|name|ndx|near|
							negotiate|new|newo|newobject|newobject|next|nextvalue|noappend|nocaptions|noclear|noclose|noconsole|nocptrans|node|nodebug|nodefault|nodelete|nodialog|nodup|noedit|noenvironment|
							nofilter|nofloat|nogrow|noinit|nolgrid|nolink|nomargin|nomdi|nomenu|nominimize|nomodify|none|nooptimize|nooverwrite|nopageeject|noprompt|norefresh|norequery|noreset|norgrid|norm|
							norm|normal|normalize|nosave|noshow|not|note|notify|nowait|nowindow|nozoom|ntom|null|nulldisplay|numl|numlock|nvl|object|objects|objt|objtoclient|occu|occurs|odometer|of|
							off|oldv|oldval|oleobject|on|on|open|opendatatip|optimize|or|orde|order|order|os|othe|otherwise|outer|pack|pad|pad|padc|padl|padr|page|palette|panel|para|para|parameters|
							parameters|partition|password|path|paym|payment|pcol|pcou|pcount|pdox|pdsetup|pems|pemstatus|percent|pi|pictres|picture|pixels|plain|play|point|pop|popu|popup|popup|popups|
							position|preference|pretext|preview|prim|primary|primary|prin|prin|printer|printjob|printstatus|priv|private|prmb|prmbar|prmp|prmpad|proc|procedure|production|prog|program|project|prom|prompt|
							prompt|prop|proper|prot|protected|prow|prti|prtinfo|publ|public|push|putf|putfile|pv|quar|quarter|query|quit|rais|raiseevent|rand|range|rat|ratc|ratl|ratline|rd|read|
							readborder|readwrite|reca|recall|recc|reccount|recn|recno|recompile|record|recover|recs|recsize|recycle|redit|reference|references|refr|refresh|refresh|rein|reindex|rela|
							relation|relation|relative|rele|release|remo|remo|remote|remove|removeproperty|rena|rename|repl|repl|replace|replicate|repo|report|reportbehavior|reprocess|requ|requery|
							resource|resources|rest|restore|resu|resume|retr|retry|retu|return|rgb|rgbs|rgbscheme|righ|right|right|rightc|rloc|rlock|rmdi|rmdir|roll|rollback|rollover|roun|round|
							rpd|rtljustify|rtod|rtri|rtrim|run|safety|same|save|save|savepicture|scan|scat|scatter|sche|scheme|scheme|scol|scols|screen|scroll|sdf|sec|seco|seconds|seconds|seek|
							sele|sele|select|select|selection|separator|set|set|setf|setfldstate|setr|setresultset|share|sheet|shift|short|shortcut|show|shutdown|sign|sin|size|skip|skpb|skpbar|skpp|
							skppad|sort|soun|soundex|spac|space|space|sql|sqlbuffering|sqlca|sqlcancel|sqlcol|sqlcolumns|sqlcom|sqlcommit|sqlcon|sqlconnect|sqld|sqldisconnect|sqle|sqlexec|sqlg|sqlgetprop|
							sqli|sqlidledisconnect|sqlm|sqlmoreresults|sqlp|sqlprepare|sqlr|sqlrollback|sqlse|sqlsetprop|sqlst|sqlstringconnect|sqlt|sqltables|sqrt|srow|srows|status|step|stor|store|str|
							strc|strconv|stre|strextract|strictdate|strto|strtofile|strtr|strtran|structure|stuf|stuff|stuffc|style|subs|substr|substrc|sum|sum|summary|susp|suspend|sylk|sys|sysformats|
							sysm|sysmenu|sysmetric|system|tab|table|tabler|tablerevert|tables|tableu|tableupdate|tablevalidate|tag|tag|tagc|tagcount|tagn|tagno|taiwan|talk|tan|targ|target|text|textmerge|
							textmerge|this|thisform|thro|throw|time|time|timeout|title|to|top|topic|tota|total|tran|transaction|transform|trbetween|trigger|trim|try|ttoc|ttod|txnl|txnlevel|txtw|txtwidth|type|type|
							typeahead|udfparms|unbi|unbindevents|union|unique|unlo|unlock|upda|update|uppe|upper|usa|use|used|userid|usetip|val|vali|valid|validate|value|values|varcharmapping|vart|vartype|
							vartype|vers|version|view|views|wait|wbor|wborder|wchi|wchild|wcol|wcols|wdoc|wdockable|week|wexi|wexist|wfon|wfont|when|where|while|window|windows|wks|wlas|wlast|wlco|
							wlcol|wlro|wlrow|wmax|wmaximum|wmin|wminimum|wont|wontop|wout|woutput|wpar|wparent|wrap|wrk|wrow|wrows|wtit|wtitle|wvis|wvisible|xls|xmlt|xmltocursor|xmlu|xmlupdategram|
							year|ymd|zap|zoom)\b)</string>
			<key>name</key>
			<string>keyword.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\b(Mod|And|Not|Or|Xor|as)\b)</string>
			<key>name</key>
			<string>keyword.operator.foxpro</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>storage.type.foxpro</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>variable.other.bfeac.foxpro</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>meta.separator.comma.foxpro</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?i:(dim)\s*(?:(\b[a-zA-Z_x7f-xff][a-zA-Z0-9_x7f-xff]*?\b)\s*(,?)))</string>
			<key>name</key>
			<string>variable.other.dim.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\s*\b(Define Class|EndDefine|Dimension|Function|Procedure|EndFunc|EndProc|On Error)\b\s*)</string>
			<key>name</key>
			<string>storage.type.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\b(Private|Public|Local)\b)</string>
			<key>name</key>
			<string>storage.modifier.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\s*\b(Empty|False|Nothing|Null|True)\b|(\.t\.|\.f\.|\.null\.))</string>
			<key>name</key>
			<string>constant.language.foxpro</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(")</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.foxpro</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(")</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.foxpro</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.double.foxpro</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>("")</string>
					<key>name</key>
					<string>constant.character.escape.apostrophe.foxpro</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(')</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.foxpro</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(')</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.foxpro</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.double.foxpro</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[)</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.foxpro</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(\])</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.foxpro</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.bracket.foxpro</string>
		</dict>

		


		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.variable.foxpro</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(&lt;&lt;|&gt;&gt;)\s*</string>
			<key>name</key>
			<string>variable.textmerge.markers.foxpro</string>
		</dict>

		
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.variable.foxpro</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(\$)[a-zA-Z_x7f-xff][a-zA-Z0-9_x7f-xff]*?\b\s*</string>
			<key>name</key>
			<string>variable.other.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\b(Application|ObjectContext|Request|Response|Server|Session)\b)</string>
			<key>name</key>
			<string>support.class.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\b(Contents|StaticObjects|ClientCertificate|Cookies|Form|QueryString|ServerVariables)\b)</string>
			<key>name</key>
			<string>support.class.collection.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\b(TotalBytes|Buffer|CacheControl|Charset|ContentType|Expires|ExpiresAbsolute|IsClientConnected|PICS|Status|ScriptTimeout|CodePage|LCID|SessionID|Timeout)\b)</string>
			<key>name</key>
			<string>support.constant.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\b(Lock|Unlock|SetAbort|SetComplete|BinaryRead|AddHeader|AppendToLog|BinaryWrite|Clear|End|Flush|Redirect|Write|CreateObject|HTMLEncode|MapPath|URLEncode|Abandon|Convert|Regex)\b)</string>
			<key>name</key>
			<string>support.function.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\b(Application_OnEnd|Application_OnStart|OnTransactionAbort|OnTransactionCommit|Session_OnEnd|Session_OnStart)\b)</string>
			<key>name</key>
			<string>support.function.event.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:(?&lt;=as )(\b[a-zA-Z_x7f-xff][a-zA-Z0-9_x7f-xff]*?\b))</string>
			<key>name</key>
			<string>support.type.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\b(Array|Add|Asc|Atn|CBool|CByte|CCur|CDate|CDbl|Chr|CInt|CLng|Conversions|Cos|CreateObject|CSng|CStr|Date|DateAdd|DateDiff|DatePart|DateSerial|DateValue|Day|Derived|Math|Escape|Eval|Exists|Exp|Filter|FormatCurrency|FormatDateTime|FormatNumber|FormatPercent|GetLocale|GetObject|GetRef|Hex|Hour|InputBox|InStr|InStrRev|Int|Fix|IsArray|IsDate|IsEmpty|IsNull|IsNumeric|IsObject|Item|Items|Join|Keys|LBound|LCase|Left|Len|LoadPicture|Log|LTrim|RTrim|Trim|Maths|Mid|Minute|Month|MonthName|MsgBox|Now|Oct|Remove|RemoveAll|Replace|RGB|Right|Rnd|Round|ScriptEngine|ScriptEngineBuildVersion|ScriptEngineMajorVersion|ScriptEngineMinorVersion|Second|SetLocale|Sgn|Sin|Space|Split|Sqr|StrComp|String|StrReverse|Tan|Time|Timer|TimeSerial|TimeValue|TypeName|UBound|UCase|Unescape|VarType|Weekday|WeekdayName|Year)\b)</string>
			<key>name</key>
			<string>support.function.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>-?\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\.?[0-9]*)|(\.[0-9]+))((e|E)(\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f)?\b</string>
			<key>name</key>
			<string>constant.numeric.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>(?i:\b(vbtrue|vbfalse|vbcr|vbcrlf|vbformfeed|vblf|vbnewline|vbnullchar|vbnullstring|int32|vbtab|vbverticaltab|vbbinarycompare|vbtextcomparevbsunday|vbmonday|vbtuesday|vbwednesday|vbthursday|vbfriday|vbsaturday|vbusesystemdayofweek|vbfirstjan1|vbfirstfourdays|vbfirstfullweek|vbgeneraldate|vblongdate|vbshortdate|vblongtime|vbshorttime|vbobjecterror|vbEmpty|vbNull|vbInteger|vbLong|vbSingle|vbDouble|vbCurrency|vbDate|vbString|vbObject|vbError|vbBoolean|vbVariant|vbDataObject|vbDecimal|vbByte|vbArray)\b)</string>
			<key>name</key>
			<string>support.type.foxpro</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.foxpro</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?i:(\b[a-zA-Z_x7f-xff][a-zA-Z0-9_x7f-xff]*?\b)(?=\(\)?))</string>
			<key>name</key>
			<string>support.function.foxpro</string>
		</dict>
		<dict>
			<key>match</key>
			<string>!|\$|%|&amp;|\*|\-\-|\-|\+\+|\+|~|===|==|=|!=|!==|&lt;=|&gt;=|&lt;&lt;=|&gt;&gt;=|&gt;&gt;&gt;=|&lt;&gt;|&lt;|&gt;|!|&amp;&amp;|\|\||\?\:|\*=|/=|%=|\+=|\-=|&amp;=|\^=|\b(in|instanceof|new|delete|typeof|void)\b</string>
			<key>name</key>
			<string>keyword.operator.foxpro</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>round-brackets</key>
		<dict>
			<key>begin</key>
			<string>\(</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.section.round-brackets.begin.foxpro</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\)</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.section.round-brackets.end.foxpro</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.round-brackets</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>.foxpro</string>
	<key>uuid</key>
	<string>7F9C9363-D28E-4A7D-BFA8-F6A071ADCA3E</string>
</dict>
</plist>